/* styles.css */
@font-face {
  font-family: "n27";
  src: url(./fonts/n27-regular-webfont.woff);
}
* {
  text-align: center;
}
.logo {
  max-width: 100%;
  height: clamp(1rem, 50px + 4.5vw, 135px);
}

.tagline {
  max-width: 900px;

  width: clamp(60vw, 650px, 70vw);
  margin: 0.5rem 0;
}

body {
  font-family: "Roboto";
  background-image: linear-gradient(90deg, #00eb89, #00b9ff);
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* backup */
  height: 100svh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Add the specific weights for elements where needed */

h1 {
  font-family: "n27";
  color: #000000;
}

h2 {
  max-width: 36ch;
  font-weight: 400; /* Roboto medium */
  font-size: clamp(1rem, 1rem + 2vw, 5rem);
  /* padding-inline: clamp(2rem, 15vw, 35rem); */
  padding-inline: clamp(5vw, 5% + 2vw, 15vw);

  text-align: center;
  line-height: 1.25;
}

p {
  font-weight: 400; /* Roboto regular */
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25svh;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  padding: 25px 50px;
  background-color: black;
  color: #00eb89;
  text-decoration: none;
  font-weight: 400;
  outline: 2px solid white;
  margin-top: 35px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  height: 12.5svh;
}
a {
  color: #00eb89;
}

@media screen and (max-width: 540px) {
  h2 {
    line-height: 1.5;
    /* margin-top: 1rem; */
  }
  .button {
    margin-top: 20px;
  }
}
